body {
    margin:0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.upper {
    background-color: #1f2937;
    padding-top: 20px;
    padding-left: 300px;
    padding-right: 300px;
    height: 500px;
    display: block;
}

.headbox {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
}

.logo-large {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}

.link-container {
    display: inline-flex;
}

.link {
    font-size: 18px;
    color: #e5e7eb;
    padding: 0px;
    display: inline-block;
    width: 160px;
    text-align: right;
}

.signup-container {
    display: flex;
    height: 250px;
    justify-content: space-between;
}

.action {
    display: flex;
}

.statement {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
    width: 450px;
}

.subtext {
    color: #e5e7eb;
    font-size: 18px;
    width: 450px;
}

.signup1 {
    display: block;
    appearance: none;
    background-color: #3882f6;
    color: #f9faf8;
    margin-top: 10px;
    border-radius: 6px;
    border: 0;
    height: 40px;
    width: 110px;
    font-weight: bold;
    font-size: 16px;
}

.image-container {
    display: inline-flex;
}

.mid1 {
    display: block;
}

.text-holder {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.illustration-container {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.subtext-illustration {
    display: inline-block;
    width: 160px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.squa {
    height: 160px;
    width: 160px;
    border-style: solid;
    border-color: #3882f6;
    border-width: 5px;
    border-radius: 25px;
}

.description {
    color: #3c3b3b;
    margin-top: 5px;
}

.mid2 {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding-top: 150px;

}

.quote-container {
    display: block;
}

.inspo-quote {
    display: flex;
    font-size: 36px;
    font-weight: 100; /*font weight not displaying properly*/
    font-style: italic;
    color: #1f2937;
}

.author-quote {
    display: flex;
    justify-content: right;
    font-weight: bold;
    color: #1f2937;
    font-size: 20px;
}

.action-yell {
    display: flex;
    justify-content: center;
    width: 1100px;
    height: auto;
    background-color: #3882f6;
}

.action-yell-container {
    display: inline-flex;
}

.action-yell-bold {
    display:block;
}

.action-yell-subtext {
    display:block;
}

.signup2 {
    display:inline-flex;
}